.DS_Store
.trash/
.obsidian/workspace.json
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.smart-connections
node_modules/

# Don't ignore plugins and themes
!.obsidian/plugins/
!.obsidian/themes/

# Ignore sensitive plugin data
.obsidian/plugins/*/data.json
.obsidian/plugins/copilot/
.obsidian/plugins/smart-connections/ 